body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 1em;
    background-color: #f9f7f1;
  }
  
  h1 {
    font-size: 3em;
    margin: 0.25em 0;
  }
  
  h3 {
    font-size: 2em;
    margin: 0.25em 0;
  }
  
  p {
    font-size: 1em;
  }

  header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    text-align: center;
    /*font-size: 80px;*/
    line-height: 70px;
}

span {
  
  display: inline;
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50px; /* or 50% */
padding:20px;
  color: white;
  text-align: center;
  font-size: 2em;
}


.subhead{

  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  margin-top:20px;
  padding: 12px 0 12px 0;
  text-align: center;

}

  .background {
    fill: #f9f7f1;
    pointer-events: all;
  }
  
/*.map-layer {
    fill: #fff;
    }*/

  .intro{
    margin-top:20px;
    margin-bottom:100px;
    padding: 20px;
  }
  
.legend{

  margin-top:30px;
  width: 300px;
  border: black;
  border-width: 1px;
  border-style: solid;
  }
  #container{
    position: absolute;
    top: 650px;
    left: 400px;
    margin: 0 auto;
  }


  #containerOB{
    position: absolute;
    top: 1240px; 
    left:200px;
align-content: center;

    border: black;
    border-width: 2px;
    border-style: solid;
  
  }

  .moreinfo{
top:950px;
position: absolute;
margin-bottom:100px;
padding: 20px;

  }

